.git*
.jest
coverage
doc
node_modules
src
.all-shieldsrc.json
.editorconfig
.eslintrc.js
.gitignore
.prettierrc.js
jest.config.ts
README.md
tsconfig.json
yarn-error.log
yarn.lock
*.test.js
*.test.d.ts*